article#web-links
  a.email(href='http://google.com', target='_blank', title='#{i18n['See my profile on'][lang]} Google+')
    span.info #{i18n['See my profile on'][lang]}:
    span.title Google+
  a.linkedin(href='http://www.linkedin.com', target='_blank', title='#{i18n['See my profile on'][lang]} LinkedIn')
    span.info #{i18n['See my profile on'][lang]}:
    span.title LinkedIn
  a.picasa(href='http://www.facebook.com', target='_blank', title='#{i18n['See my profile on'][lang]} Facebook')
    span.info #{i18n['See my page on'][lang]}:
    span.title Facebook
  h3= i18n['Links'][lang]
  p #{i18n['Find me around the web'][lang]}:
